.project
.classpath
.factorypath
.editorConfig
.settings/
.idea
*.versionsBackup
release.properties
*.releaseBackup

maven-repo
target/

**/.project
**/.classpath
**/.factorypath
**/.editorConfig
**/.settings/
**/.idea
**/*.versionsBackup
**/target/
**/maven-repo
**/*.releaseBackup